.btn {

    &,&:link, &:visited {
        font-size: $font-size-default;
        color: $color-body;
        text-decoration: none;
        padding: 1rem 6rem;
        display: inline-block;
        border-radius: 0.5rem;

        // For <button>
        border: none;
        cursor: pointer;
    }

    &--blue {
        background-color: $color-primary;
    }

}