// COLORS
$color-text: #363636;
$color-body: #F8EFEF;
$color-border: #CFCFCF;
$color-primary: #3AABE8;
$color-secondary: #BCC2D6;
$color-danger: #E84646;


// FONT SIZES
$font-size-default: 1.8rem;
$font-size-h1: 3.6rem;
$font-size-h2: 3.2rem;
$font-size-h3: 3.0rem;
$font-size-h4: 2.8rem;
$font-size-h5: 2.6rem;
$font-size-h6: 2.4rem;

// GRID
$container-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontol: 6rem;