.page-register {

    .progress-bar {
        margin-bottom: 7rem;

        .node {
            width: 4rem;
            height: 4rem;
            line-height: 4rem;
            color: $color-body;
            border-radius: 50%;
            display: inline-block; 
            
            &--active {
                background-color: $color-primary;
                transform: scale(1.2);
            }
            &--inactive {
                background-color: $color-secondary;
            }
        }

        .path {
            display: inline-block;
            width: 15.5rem;
            border-top: 1px solid $color-secondary;
        }

    }

}